*{
    margin: 0;
    box-sizing: border-box;
}

.d_none {
    display: none!important;
}

.no-scroll {
    overflow: hidden;
}
html{
    height: 100%;
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 140px;
    box-sizing: inherit;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    background-color: #06242E;
    margin-bottom: 20px;
}

.pokemon_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.poke_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 220px;
    border: solid 2px;
}

.poke_card img{
    width: 150px;
}

.load_more{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.overlay_card{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay_card img{
    width: 290px;
}

.overlay_buttons {
    display: flex;      
    width: 100%;         
    gap: 5px;            
}

.overlay_buttons button {
    flex: 1;             
    padding: 10px;       
    border: none;
    cursor: pointer;
    background-color: blue;
    color: white;
    box-sizing: border-box; 
}

.overlay_buttons button:hover {
    flex: 1;            
    padding: 10px;       
    border: none;
    cursor: pointer;
    background-color: rgb(0, 0, 149);
    color: white;
    box-sizing: border-box; 
}

.evo_chain {
    display: flex;
    align-items: center;
    gap: 10px; 
    flex-wrap: wrap; 
}

.evo_pokemon {
    text-align: center;
}

.evo_pokemon img {
    width: 80px;
    height: 80px;
}

.evo_arrow {
    font-size: 24px;
    font-weight: bold;
}

.overlay_card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;  /* Wichtig! */
    border-radius: 10px;
}

.overlay_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    user-select: none;
    z-index: 20;
}

.overlay_arrow.left {
    left: 2px;  /* Abstand zum Bild / Rand */
}

.overlay_arrow.right {
    right: 2px
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background-color: #06242E;
    margin-top: 20px;
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}