* {
    margin: 0;
    box-sizing: border-box;
}

.d_none {
    display: none !important;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 140px;
    box-sizing: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    background-color: #06242E;
    margin-bottom: 20px;
}

nav input{
    width: 200px;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.pokemon_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.poke_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 220px;
    border: solid 2px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.poke_card:hover img {
    transform: scale(1.05);
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.6));
}

.poke_card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.poke_card img {
    width: 150px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.load_more {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

#load_more_btn {
    border: none;
    background-color: #0C3949;
    color: white;
    font-size: 20px;
    padding: 12px;
    margin-top: 16px;
    cursor: pointer;
}

#load_more_btn:hover {
    background-color: #105063;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.overlay_card {
    height: 560px;
    width: 290px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.overlay_card img {
    max-height: 250px;
    max-width: 250px;
}

.overlay_buttons {
    display: flex;
    width: 100%;
    gap: 1px;
    background-color: #0C3949;
}

.main,
.stats {
    width: 100%;
    background-color: #0C3949;
    color: white;
    padding: 10px 20px;
    height: 100%;
    padding-top: 12px;
}

.evo_chain {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
    width: 100%;
    background-color: #0C3949;
    color: white;
    padding: 10px 0px 25px 0px;

}

.overlay_buttons button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #105063;
    color: white;
    box-sizing: border-box;
}

.overlay_buttons button:hover {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #186077;
    color: white;
    box-sizing: border-box;
    border-bottom: #e3834c;
}

.evo_pokemon {
    text-align: center;
}

.evo_pokemon img {
    width: 80px;
    height: 80px;
}

.evo_arrow {
    font-size: 24px;
    font-weight: bold;
}

.overlay_card {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: relative;
    border-radius: 10px;
}

.overlay_arrow_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 20px;
    color: white;
    background-color: #0C3949;
    position: absolute;
    bottom: 0;
    left: 0;
}

.overlay_arrow.left {
    left: 2px;
    font-size: 25px;
    cursor: pointer;
}

.overlay_arrow.right {
    right: 2px;
    font-size: 25px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background-color: #06242E;
    margin-top: 20px;
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.type_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 8px;
    padding: 5px 0;
    width: 100%;
    background-color: #06242E;
}

.type_badge {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.card_head {
    width: 100%;
    background-color: #06242E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #f3f3f3;
    border-top: 6px solid #06242E;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 0.8s linear infinite;
    z-index: 1001;
}

.loading_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    z-index: 1000;
    backdrop-filter: blur(2px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.no_results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

@media (max-width: 490px) {
    .poke_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: gray;
        width: 130px;
        border: solid 2px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    .card_head h2 {
        font-size: 18px;
    }

    .poke_card img {
        width: 120px;
    }

    nav{
        flex-direction: column;
        align-items: center;
        padding: 10px 0 20px 0;
    }
    
    nav input{
        width: 80%;
    }
}